<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>You are viewing tasks for <%= @list.title %>, as <%= current_user.email %> | <%= link_to "Back to Lists", lists_path %> | <%= link_to "Logout", logout_path %></h2>
    </div>
  </div>
  <div class="row col-md-6">
    <div class="form-group">
      <h3>Create A New Task</h3>
      <%= form_for @task, url: list_tasks_path(@list), method: :create do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Title" %>
        <%= f.label :notes %>
        <%= f.text_field :notes, placeholder: "Notes" %>
        <div>
        <%= f.label "Start Date(Optional)" %>
        <%= f.datetime_select :start_date, placeholder: "Start Date (Optional)" %>
        </div>
        <div>
        <%= f.label "Due Date(Optional" %>
        <%= f.datetime_select :due_date, placeholder: "Due Date (Optional)" %>
        </div>
        <%= f.submit "Create Task", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="row col-md-6">
    <button type="button" class="btn-sm btn-warning" id='filter-by-name'>Filter By Name</button>
    <button type="button" class="btn-sm btn-warning" id='filter-by-start-date'>Filter By Start Date</button>
    <button type="button" class="btn-sm btn-warning" id='filter-by-due-date'>Filter By Due Date</button>
    <button type="button" class="btn-sm btn-warning" id='filter-by-complete'>Filter Complete Only</button>
    <button type="button" class="btn-sm btn-warning" id='filter-by-incomplete'>Filter Incomplete Only</button>
    <button type="button" class="btn-sm btn-primary" id='sort-by-title'>Sort By Title</button>
    <button type="button" class="btn-sm btn-primary" id='sort-by-status'>Sort By Status</button>
    <button type="button" class="btn-sm btn-primary" id='sort-by-due-date'>Sort By Due Date</button>
  </div>
</div>

<div class="container" id="tasks-container">
  <div class="row col-md-12">
    <h2>Your Tasks</h2>

    <div id="tasks">
      <ul id="inner-tasks">
        <% @list.tasks.each do |task| %>
          <div class="task all <%= task.complete ? 'complete' : 'incomplete' %>" data-id=<%= task.id %>>
            <h3 id="task-title">Title: <%= task.title %></h3>
            <h4 id="task-title">Notes: <%= task.notes %></h4>
            <h4 id="task-status"><%= task.status %></h4>
            <button type="button" class="mark-as btn-sm btn-info">Mark as
              <%= task.complete ? 'incomplete' : 'complete' %></button>
            <div class="editing" id="edit<%= task.id %>">
              <%= button_to "Edit This Task", edit_list_task_path(@list, task), method: :get, class: "btn btn-sm btn-info" %>
              <%= button_to "Delete This Task", list_task_path(@list, task), method: :delete, class: "btn btn-sm btn-danger" %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
